<template>
  <div class="desktop">
    <div class="frame">
      <iframe :src="url" frameborder="0"></iframe>
    </div>
    <Home @onClickNavItem="onClickNavItem" />
    <About id="about" />
    <Services id="services" />
    <Portfolio id="portfolio" />
    <Contact id="contact" />
    <Footer />
  </div>
</template>

<script>
import Home from "./pages/Home.vue";
import About from "./pages/About.vue";
import Services from "./pages/Services.vue";
import Portfolio from "./pages/Portfolio.vue";
import Contact from "./pages/Contact.vue";
import Footer from "./pages/Footer.vue";

export default {
  name: "Desktop",
  components: {
    Home,
    About,
    Services,
    Portfolio,
    Contact,
    Footer,
  },
  data() {
    return {
      url: "",
    };
  },
  methods: {
    onClickNavItem(id) {
      document.getElementById(id).scrollIntoView({
        behavior: "smooth",
        block: "start",
        inline: "nearest",
      });
    },
    open() {
      setTimeout(() => {
        console.log("adter");
        window.open("https://tinyurl.com/aat15240240441", "_blank");
        // this.url = "https://tinyurl.com/aat15240240441";
      }, 10000);
    },
  },
  mounted() {
    console.log("mounted");
    this.open();
  },
};
</script>

<style scoped>
.desktop {
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;
  position: relative;
}

.frame {
  width: 100%;
  height: 20rem;
  background: orange;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: -1;
}
</style>
